<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render '/layouts/list', user: @user, book: @book %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to image_tag("no_image.jpg"), user_path(:id) %>
              </td>
              <td><%= link_to @book.title %></td>
              <td><%= @book.body %></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
