<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1>
          welcome to
          <i class="fas fa-book">
            
          </i>
          <strong>Bookers</strong>
          !!
        </h1>
        <p></p>
        <p>you can share and exchange  your opinions , inpressions , and emotions</p>
        <p> about various books!</p>
        <div class="btn-wrapper col-10 mx-auto"></div>
      </div>
    </div>
  </div>
</main>
<li>
  <%= link_to "log in", new_user_session_path %>
</li>
<li>
  <%= link_to "sign up", new_user_registration_path %>
</li>
