<td>
  <% if book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(book), method: :delete do %>
      <i class="fas fa-heart" style="color: red;"><%= book.favorites.count %></i>
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book), method: :post do %>
      <i class="far fa-heart"></i><%= book.favorites.count %>
    <% end %>
  <% end %>
</td>